@import '../../../Styles/abstracts/_variables.scss';
@import '../../../Styles/abstracts/_functions.scss';


.file-viewer-container {
    background-color: color(gray-bg-primary);
    position: fixed;
    height: 100vh;
    z-index: 300;
    width: 100%;
    right: 0;
    left: 0;
    top: 0;

    .main-content{
        width: 100%;
        height: 100%;
        display: flex;
        margin: 0 auto;
        flex-direction: column;
    }
}