@inherits LayoutComponentBase

<div class="page">
    <div class="page__sidebar">
        <BottomNavigation />
    </div>

    <main>
        <article class="content">
            <AppErrorBoundary>
                @if (_isLoading)
                {
                    <OverlayLoading />
                }
                else
                {
                    @Body
                }
            </AppErrorBoundary>
        </article>
    </main>

    <FxToast />
</div>