@import '../Styles/abstracts/_media-queries.scss';
@import '../Styles/abstracts/_variables.scss';
@import '../Styles/abstracts/_functions.scss';
@import '../Styles/components/_bit-accordion.scss';
@import '../Styles/components/_bit-checkbox.scss';
@import '../Styles/components/_bit-toggle.scss';


.page {
    grid-template-areas: "main-view" "nav-bar";
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    background-color: color(app-bg);
    position: relative;
    display: grid;
    height: 100%;
    width: 100%;
}

main {
    grid-area: main-view;
    overflow: hidden;
    display: flex;
    justify-content: inherit;
    width: 100%;
}

main > article {
    width: 100%;
    display: flex;
    height: 100vh;
    position: relative;
    flex-direction: column;
    color: color(gray-content1);
    background-color: color(app-bg);
}

.page__sidebar {
    grid-area: nav-bar;
    background-color: color(app-bg);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.05);
    width: 100%;
    z-index: 5;
}

::deep .footerPlayer {
    grid-area: player-bar;
    z-index: 1;
}

::deep .containerPage {
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 8px;
    padding-bottom: 16px;
    margin-right: -8px;
    margin-top: 8px;
    height: 100%;
}

::deep .containerPage--featured {
    padding-bottom: 16px;
}

::deep .titleWrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    padding: 0 16px;
    flex-direction: column-reverse;
    align-items: flex-start;
}

::deep .contentWrapper {
    padding-left: 16px;
    padding-right: 16px;
}

::deep .appLink {
    display: inline-flex;
    align-items: center;
}

::deep .appLink-icon {
    font-size: 16px;
    margin-right: 2px;
}

@media screen and (min-width: 992px) {
    .page {
        //TODO: Add logo
        //grid-template-rows: 160px 1fr auto;

        grid-template-areas: "header main-view" "nav-bar main-view";
        grid-template-rows: 12px 1fr auto;
        grid-template-columns: auto 1fr; 
    }

    .page__sidebar {
        top: 0;
        width: 270px;
        height: 100%;
        z-index: unset;
        position: sticky;
        box-shadow: 0 0 0;
        grid-area: nav-bar;
    }

    ::deep .containerPage {
        padding-bottom: 39px;
        margin-right: 10px;
        padding-right: 0;
        margin-top: 0;
    }

    ::deep .containerPage--featured {
        padding-bottom: 0;
    }

    ::deep .contentWrapper {
        padding-left: 48px;
        padding-right: 48px;
    }
}