@import '../Styles/abstracts/_media-queries.scss';
@import '../Styles/abstracts/_variables.scss';
@import '../Styles/abstracts/_functions.scss';
@import '../Styles/components/_bit-accordion.scss';
@import '../Styles/components/_bit-checkbox.scss';
@import '../Styles/components/_bit-toggle.scss';


.main-layout {
    margin: 0 auto;
    background-color: color(app-bg);
}

.content {
    position: relative;
    color: color(gray-content1);
    min-height: calc(100vh - 81px);
    background-color: color(app-bg);
}